@import '../css/reset.css';

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  color: white;
  background-color: #262626;
}
.menu ul li {
  display: inline-block;
  margin: 0 19px;
}
a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
  transition-delay: 0s, 0.5s, 0.5s;
  border-radius: 10px;
}

a:hover {
  color: rgb(233, 182, 16);
}

.logo {
  font-family: 'Architects Daughter';
  text-transform: capitalize;
  font-size: 24px;
  cursor: pointer;
}
.logo:hover {
  color: rgba(253, 195, 2, 1);
}

.btn button {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  padding: 12px 30px;
  border: 2px solid white;
  border-radius: 2px;
  background-color: #262626;
  transition-duration: 1s, 100ms;
  transition-property: all;
  transition-delay: 0s, 0.5s, 5s;
}

button:hover {
  color: rgb(233, 182, 16);
  border-width: 2px;
  border-style: solid;
  border-radius: 2px;
  border-image: radial-gradient(circle, rgb(91, 4, 173) 10%, rgb(233, 182, 16) 50%) 22;
}
header {
  height: 100vh;
  background: no-repeat url(../img/bar-1846137.jpg);
  background-position: center;
  background-size: cover;
}
